In [1]:
import numpy as np
import pandas as pd
import glob
import os
import pip
from pandas import ExcelWriter

In [20]:
w = ExcelWriter('condFDR_0.01_TRAITS.xlsx')
for filename in os.listdir('.'):
    if filename.endswith('.csv'):
        df=pd.read_csv(filename,sep="\t")
        df.to_excel(w, sheet_name=filename[:-4],index=False)
        w.save()

In [2]:
g1=pd.read_csv('../fuma_result_fin1/FUMA_conj_scz_bmi_snps_job136702/genes.txt',sep='\t')

In [2]:
#os.listdir('../')
#os.mkdir('conj_gene_tables')

In [62]:
w1 = ExcelWriter('conjFDR_0.05_SCZ_vs_Traits_Genes.xlsx')
for filename in glob.glob('../fuma_result_fin1/FUMA_conj_scz_*_snps_job*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[3].upper()
    g2=g1.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    g3.to_excel(w1, sheet_name=f'{trait1}_{trait2}',index=False)
    w1.save()

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-62-c659734684b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")

In [59]:
tr1='../fuma_result_fun1/FUMA_conj_scz_bmi_snps_gene2func62842/GS.txt'
tr1.split('/')[-2].split('_')[3].upper()

'BMI'

In [49]:
g1.to_excel('conjFDR_0.05_SCZ_BMI_genes.xlsx',index=False)

In [27]:
go1=pd.read_csv('../fuma_result_fun1/FUMA_conj_scz_bmi_snps_gene2func62842/GS.txt',sep='\t')

In [28]:
go1.Category.value_counts()

GWAScatalog                         198
TF_targets                          126
Curated_gene_sets                   113
Canonical_Pathways                   90
Reactome                             83
GO_bp                                43
Positional_gene_sets                 37
microRNA_targets                     26
GO_cc                                25
Chemical_and_Genetic_pertubation     20
Computational_gene_sets              10
GO_mf                                10
KEGG                                  9
Immunologic_signatures                9
Cancer_modules                        7
Wikipathways                          3
Name: Category, dtype: int64

In [10]:
go2=go1.loc[go1.Category.isin(['GO_bp','GO_cc','GO_mf'])]

In [29]:
path1=go1.loc[go1.Category.isin(['KEGG','Wikipathways','BioCarta'])]

In [93]:
os.getcwd()

'/home/ubuntu/body-brain/bmi/cond_fuma_combined'

In [94]:
w2 = ExcelWriter('conjFDR_0.05_SCZ_vs_Traits_PATH.xlsx')
for filename in glob.glob('../fuma_result_fun1/FUMA_conj_scz_*_snps_gene2func*/GS.txt'):
    go1=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[3].upper()
    go2=go1.loc[go1.Category.isin(['KEGG','Wikipathways','BioCarta'])]
    go3=go2.iloc[:,[0,1,2,3,4,5,6]]
    go3.to_excel(w2, sheet_name=f'{trait1}_{trait2}',index=False)
    w2.save()

In [31]:
path2=path1.iloc[:,[0,1,2,3,4,5,6]]

In [32]:
path2.to_excel('conjFDR_0.05_SCZ_BMI_PATH.xlsx',index=False)

In [14]:
go2.columns

Index(['Category', 'GeneSet', 'N_genes', 'N_overlap', 'p', 'adjP', 'genes',
       'link'],
      dtype='object')

In [15]:
go3=go2.iloc[:,[0,1,2,3,4,5,6]]

In [17]:
go3.to_excel('conjFDR_0.05_SCZ_BMI_GO.xlsx',index=False)

In [25]:
w2 = ExcelWriter('conjFDR_0.05_SCZ_vs_Traits_GO.xlsx')
for filename in glob.glob('../fuma_result_fun1/FUMA_conj_scz_*_snps_gene2func*/GS.txt'):
    go1=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[3].upper()
    go2=go1.loc[go1.Category.isin(['GO_bp','GO_cc','GO_mf'])]
    go3=go2.iloc[:,[0,1,2,3,4,5,6]]
    go3.to_excel(w2, sheet_name=f'{trait1}_{trait2}',index=False)
    w2.save()

In [12]:
g2=g1.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]

In [13]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ensg           2485 non-null   object
 1   symbol         2485 non-null   object
 2   chr            2485 non-null   int64
 3   start          2485 non-null   int64
 4   end            2485 non-null   int64
 5   strand         2485 non-null   int64
 6   type           2485 non-null   object
 7   entrezID       2411 non-null   float64
 8   HUGO           2411 non-null   object
 9   posMapSNPs     2485 non-null   int64
 10  posMapMaxCADD  2485 non-null   float64
 11  eqtlMapSNPs    2485 non-null   int64
 12  eqtlMapminP    1176 non-null   float64
 13  eqtlMapminQ    1298 non-null   float64
 14  eqtlMapts      1298 non-null   object
 15  eqtlDirection  0 non-null      float64
 16  ciMap          2485 non-null   object
 17  ciMapts        1859 non-null   object
 18  minGwasP       2047 non-null   float64
 19  IndSigSNPs     2485 non-null   object
 20  GenomicLocus   2485 non-null   object
dtypes: float64(6), int64(6), object(9)
memory usage: 407.8+ KB

In [22]:
g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)

In [23]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ensembl ID     2485 non-null   object
 1   Gene           2485 non-null   object
 2   Chr            2485 non-null   int64
 3   Start bp       2485 non-null   int64
 4   End bp         2485 non-null   int64
 5   Strand         2485 non-null   int64
 6   Type           2485 non-null   object
 7   EntrezID       2411 non-null   float64
 8   HUGO           2411 non-null   object
 9   posMapSNPs     2485 non-null   int64
 10  posMapMaxCADD  2485 non-null   float64
 11  eqtlMapSNPs    2485 non-null   int64
 12  eqtlMapminP    1176 non-null   float64
 13  eqtlMapminQ    1298 non-null   float64
 14  eqtlMapts      1298 non-null   object
 15  eqtlDirection  0 non-null      float64
 16  ciMap          2485 non-null   object
 17  ciMapts        1859 non-null   object
 18  minGwasP       2047 non-null   float64
 19  IndSigSNPs     2485 non-null   object
 20  GenomicLocus   2485 non-null   object
dtypes: float64(6), int64(6), object(9)
memory usage: 407.8+ KB

In [25]:
g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")

<ipython-input-25-867ac2311a52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")

In [26]:
g2.posMap.value_counts()

No     1468
Yes    1017
Name: posMap, dtype: int64

In [27]:
g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")

In [28]:
g2.eqtlMap.value_counts()

Yes    1298
No     1187
Name: eqtlMap, dtype: int64

In [29]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ensembl ID     2485 non-null   object
 1   Gene           2485 non-null   object
 2   Chr            2485 non-null   int64
 3   Start bp       2485 non-null   int64
 4   End bp         2485 non-null   int64
 5   Strand         2485 non-null   int64
 6   Type           2485 non-null   object
 7   EntrezID       2411 non-null   float64
 8   HUGO           2411 non-null   object
 9   posMapSNPs     2485 non-null   int64
 10  posMapMaxCADD  2485 non-null   float64
 11  eqtlMapSNPs    2485 non-null   int64
 12  eqtlMapminP    1176 non-null   float64
 13  eqtlMapminQ    1298 non-null   float64
 14  eqtlMapts      1298 non-null   object
 15  eqtlDirection  0 non-null      float64
 16  ciMap          2485 non-null   object
 17  ciMapts        1859 non-null   object
 18  minGwasP       2047 non-null   float64
 19  IndSigSNPs     2485 non-null   object
 20  GenomicLocus   2485 non-null   object
 21  posMap         2485 non-null   object
 22  eqtlMap        2485 non-null   object
dtypes: float64(6), int64(6), object(11)
memory usage: 446.6+ KB

In [31]:
#g2['Credible'] = np.where(g2[['posMap']]== 'Yes' & g2[['eqtlMap']]== 'Yes' & g2[['ciMap']]== 'Yes',"Yes", "No")
g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')

In [32]:
g2.Credible.value_counts()

No     1947
Yes     538
Name: Credible, dtype: int64

In [33]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ensembl ID     2485 non-null   object
 1   Gene           2485 non-null   object
 2   Chr            2485 non-null   int64
 3   Start bp       2485 non-null   int64
 4   End bp         2485 non-null   int64
 5   Strand         2485 non-null   int64
 6   Type           2485 non-null   object
 7   EntrezID       2411 non-null   float64
 8   HUGO           2411 non-null   object
 9   posMapSNPs     2485 non-null   int64
 10  posMapMaxCADD  2485 non-null   float64
 11  eqtlMapSNPs    2485 non-null   int64
 12  eqtlMapminP    1176 non-null   float64
 13  eqtlMapminQ    1298 non-null   float64
 14  eqtlMapts      1298 non-null   object
 15  eqtlDirection  0 non-null      float64
 16  ciMap          2485 non-null   object
 17  ciMapts        1859 non-null   object
 18  minGwasP       2047 non-null   float64
 19  IndSigSNPs     2485 non-null   object
 20  GenomicLocus   2485 non-null   object
 21  posMap         2485 non-null   object
 22  eqtlMap        2485 non-null   object
 23  Credible       2485 non-null   object
dtypes: float64(6), int64(6), object(12)
memory usage: 466.1+ KB

In [42]:
g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]

In [43]:
g3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ensembl ID     2485 non-null   object
 1   Gene           2485 non-null   object
 2   Chr            2485 non-null   int64
 3   Start bp       2485 non-null   int64
 4   End bp         2485 non-null   int64
 5   Strand         2485 non-null   int64
 6   Type           2485 non-null   object
 7   EntrezID       2411 non-null   float64
 8   HUGO           2411 non-null   object
 9   posMap         2485 non-null   object
 10  posMapSNPs     2485 non-null   int64
 11  posMapMaxCADD  2485 non-null   float64
 12  eqtlMap        2485 non-null   object
 13  eqtlMapSNPs    2485 non-null   int64
 14  eqtlMapminP    1176 non-null   float64
 15  eqtlMapminQ    1298 non-null   float64
 16  eqtlMapts      1298 non-null   object
 17  ciMap          2485 non-null   object
 18  ciMapts        1859 non-null   object
 19  IndSigSNPs     2485 non-null   object
 20  GenomicLocus   2485 non-null   object
 21  Credible       2485 non-null   object
dtypes: float64(4), int64(6), object(12)
memory usage: 427.2+ KB

In [38]:
g3.head()

,Ensembl ID,Gene,Chr,Start bp,End bp,Strand,Type,EntrezID,HUGO,posMap,...,eqtlMapminP,eqtlMapminQ,eqtlMapts,eqtlDirection,ciMap,ciMapts,minGwasP,IndSigSNPs,GenomicLocus,Credible
0,ENSG00000197785,ATAD3A,1,1447531,1470067,1,protein_coding,55210.0,ATAD3A,No,...,NaN,NaN,NaN,NaN,Yes,Promoter_anchored_loops,7.351549e-10,rs10910078,1,No
1,ENSG00000008130,NADK,1,1682671,1711896,-1,protein_coding,65220.0,NADK,No,...,NaN,NaN,NaN,NaN,Yes,Promoter_anchored_loops,7.351549e-10,rs10910078,1,No
2,ENSG00000157911,PEX10,1,2336236,2345236,-1,protein_coding,5192.0,PEX10,No,...,NaN,NaN,NaN,NaN,Yes,Promoter_anchored_loops,7.351549e-10,rs10910078,1,No
3,ENSG00000149527,PLCH2,1,2357419,2436969,1,protein_coding,9651.0,PLCH2,Yes,...,1.790010e-11,0.0,BIOSQTL/BIOS_eQTL_geneLevel:GTEx/v8/Brain_Spin...,NaN,No,NaN,7.351549e-10,rs10910078,1,No
4,ENSG00000157870,FAM213B,1,2517930,2522908,1,protein_coding,127281.0,FAM213B,No,...,3.691940e-13,0.0,BIOSQTL/BIOS_eQTL_geneLevel,NaN,No,NaN,7.351549e-10,rs10910078,1,No

In [39]:
g3.to_excel('conjFDR_0.05_SCZ_BMI_genes.xlsx',index=False)

In [2]:
nv1=pd.read_csv('../../../md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_BMI.csv')

In [11]:
nv1.columns

Index(['locusnum', 'CHR', 'LEAD_SNP', 'LEAD_BP', 'MinBP', 'MaxBP', 'FDR', 'A1',
       'A2', 'nearestGene', 'dist', 'func', 'CADD', 'RDB', 'minChrState',
       'commonChrState', 'PVAL_in_DEP', 'Z_in_DEP', 'BETA_in_DEP', 'SE_in_DEP',
       'PVAL_in_BMI', 'Z_in_BMI', 'BETA_in_BMI', 'SE_in_BMI'],
      dtype='object')

In [59]:
gw1=pd.read_csv('../../../md_cvd_yunhan/fuma_output_fin1/FUMA_conj_bmi_lead_job139938/gwascatalog.txt',sep='\t')

In [66]:
nov='Depress'

In [ ]:
df[df["A"].str.contains(fr'\b{variable}\b', regex=True, case=False)]

In [68]:
gw2=gw1[gw1['Trait'].str.contains(fr'{nov}(?!$)')]

In [69]:
gw2.Trait.value_counts

<bound method IndexOpsMixin.value_counts of 4      Depressive symptoms (MTAG)
10                     Depression
14                     Depression
21                     Depression
26            Depressive symptoms
                  ...
458                    Depression
475    Depressive symptoms (MTAG)
476                    Depression
477           Depressive symptoms
479           Depressive symptoms
Name: Trait, Length: 63, dtype: object>

In [9]:
db1=pd.read_csv('../../../md_cvd_yunhan/novelty_db_dep.csv',sep='\t')

In [13]:
db1.columns

Index(['chromosome', 'min_bp', 'max_bp', 'lead_SNP'], dtype='object')

In [70]:
nv1['Novel_in_GWAS_Catalog']=np.where(((nv1.LEAD_SNP.isin(gw2.snp))), 'No', 'Yes')

In [71]:
nv1['Novel_in_Database']=np.where(((nv1.LEAD_SNP.isin(db1.lead_SNP))), 'No', 'Yes')

In [28]:
nv1.Novel_in_Database.value_counts()

Yes    35
No      8
Name: Novel_in_Database, dtype: int64

In [30]:
nv1['Novel_in_Database']=np.where((((nv1.MinBP >= db1.min_bp) & (nv1.MinBP <= db1.max_bp)) |
                                  ((nv1.MaxBP <= db1.max_bp) & (nv1.MaxBP >= db1.min_bp))), 'No', 'Yes')

ValueError: Can only compare identically-labeled Series objects

In [31]:
df = pd.merge(nv1.reset_index(), db1, how='cross')

In [34]:
df['Novel_in_Database'] = df['MinBP'].between(df['min_bp'], df['max_bp']) \
                        | df['MaxBP'].between(df['min_bp'], df['max_bp'])

In [35]:
nv1['Novel_in_Database'] = (~df.groupby('index')['Novel_in_Database'].any()) \
                           .replace({True: 'Yes', False: 'No'})

In [36]:
nv1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,PVAL_in_DEP,Z_in_DEP,BETA_in_DEP,SE_in_DEP,PVAL_in_BMI,Z_in_BMI,BETA_in_BMI,SE_in_BMI,Novel_in_GWAS_Catalog,Novel_in_Database
0,1,1,rs10864360,8724522,8457648,8895448,2.327713e-03,T,C,RERE,...,1.935000e-06,-4.760097,-0.0243,0.0051,4.264000e-05,-4.092689,-0.0128,0.0031,Yes,No
1,2,1,rs1474910,50192150,49463925,50591851,6.935200e-03,T,C,AGBL4,...,9.380000e-06,-4.430993,-0.0266,0.0060,1.192000e-04,3.847766,0.0177,0.0046,Yes,No
2,3,1,rs3101336,72751185,72512988,72959039,3.589741e-08,C,T,NEGR1,...,4.274000e-14,-7.552372,-0.0391,0.0052,2.661000e-26,-10.610577,-0.0334,0.0031,Yes,No
3,4,1,rs6680839,175902596,175902596,176416712,4.122523e-03,T,C,RP11-318C24.1,...,9.685000e-07,-4.897933,-0.0250,0.0051,2.095000e-04,3.707277,0.0152,0.0041,Yes,No
4,5,1,rs10489219,177326069,177309490,177428790,1.877427e-02,G,A,RP1-35C21.1,...,2.998000e-05,4.173618,0.0353,0.0085,1.126000e-03,3.256991,0.0180,0.0055,Yes,No

In [37]:
nv1.Novel_in_Database.value_counts()

No     40
Yes     3
Name: Novel_in_Database, dtype: int64

In [72]:
a = nv1['MinBP'].to_numpy()
b = nv1['MaxBP'].to_numpy()
c1= nv1.CHR.to_numpy()
c2= db1.chromosome.to_numpy()[:, None]

# Raise the columns in db1 by a dimension to enable numpy's broadcasting
c = db1['min_bp'].to_numpy()[:, None]
d = db1['max_bp'].to_numpy()[:, None]

result = ((c1 == c2) & (a >= c-250000) & (a <= d+250000)) | ((c1 == c2) & (b >= c-250000) & (b <= d+250000))
nv1['Novel_in_Database'] = ~result.any(axis=0)

In [73]:
nv1.Novel_in_Database.value_counts()

False    35
True      8
Name: Novel_in_Database, dtype: int64

In [49]:
nv1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,PVAL_in_DEP,Z_in_DEP,BETA_in_DEP,SE_in_DEP,PVAL_in_BMI,Z_in_BMI,BETA_in_BMI,SE_in_BMI,Novel_in_GWAS_Catalog,Novel_in_Database
0,1,1,rs10864360,8724522,8457648,8895448,2.327713e-03,T,C,RERE,...,1.935000e-06,-4.760097,-0.0243,0.0051,4.264000e-05,-4.092689,-0.0128,0.0031,Yes,False
1,2,1,rs1474910,50192150,49463925,50591851,6.935200e-03,T,C,AGBL4,...,9.380000e-06,-4.430993,-0.0266,0.0060,1.192000e-04,3.847766,0.0177,0.0046,Yes,False
2,3,1,rs3101336,72751185,72512988,72959039,3.589741e-08,C,T,NEGR1,...,4.274000e-14,-7.552372,-0.0391,0.0052,2.661000e-26,-10.610577,-0.0334,0.0031,Yes,False
3,4,1,rs6680839,175902596,175902596,176416712,4.122523e-03,T,C,RP11-318C24.1,...,9.685000e-07,-4.897933,-0.0250,0.0051,2.095000e-04,3.707277,0.0152,0.0041,Yes,False
4,5,1,rs10489219,177326069,177309490,177428790,1.877427e-02,G,A,RP1-35C21.1,...,2.998000e-05,4.173618,0.0353,0.0085,1.126000e-03,3.256991,0.0180,0.0055,Yes,False

In [50]:
trait1='DEP'

In [76]:
nv1[f'Novel_in_{trait1}']=np.where(((nv1.Novel_in_GWAS_Catalog =='Yes') & (nv1.Novel_in_Database ==1)), 'Yes', 'No')

In [52]:
nv1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,Z_in_DEP,BETA_in_DEP,SE_in_DEP,PVAL_in_BMI,Z_in_BMI,BETA_in_BMI,SE_in_BMI,Novel_in_GWAS_Catalog,Novel_in_Database,Novel_in_DEP
0,1,1,rs10864360,8724522,8457648,8895448,2.327713e-03,T,C,RERE,...,-4.760097,-0.0243,0.0051,4.264000e-05,-4.092689,-0.0128,0.0031,Yes,False,No
1,2,1,rs1474910,50192150,49463925,50591851,6.935200e-03,T,C,AGBL4,...,-4.430993,-0.0266,0.0060,1.192000e-04,3.847766,0.0177,0.0046,Yes,False,No
2,3,1,rs3101336,72751185,72512988,72959039,3.589741e-08,C,T,NEGR1,...,-7.552372,-0.0391,0.0052,2.661000e-26,-10.610577,-0.0334,0.0031,Yes,False,No
3,4,1,rs6680839,175902596,175902596,176416712,4.122523e-03,T,C,RP11-318C24.1,...,-4.897933,-0.0250,0.0051,2.095000e-04,3.707277,0.0152,0.0041,Yes,False,No
4,5,1,rs10489219,177326069,177309490,177428790,1.877427e-02,G,A,RP1-35C21.1,...,4.173618,0.0353,0.0085,1.126000e-03,3.256991,0.0180,0.0055,Yes,False,No

In [ ]:
trait2='BMI'

In [77]:
nv1.to_excel(f'conjFDR_0.05_{trait}_vs_{trait2}_novelty.xlsx',index=False)

In [54]:
nv1.Novel_in_Database.value_counts()

False    35
True      8
Name: Novel_in_Database, dtype: int64

In [55]:
nv1.drop(['Novel_in_GWAS_Catalog','Novel_in_Database'], axis=1, inplace=True)

In [56]:
nv1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,commonChrState,PVAL_in_DEP,Z_in_DEP,BETA_in_DEP,SE_in_DEP,PVAL_in_BMI,Z_in_BMI,BETA_in_BMI,SE_in_BMI,Novel_in_DEP
0,1,1,rs10864360,8724522,8457648,8895448,2.327713e-03,T,C,RERE,...,7,1.935000e-06,-4.760097,-0.0243,0.0051,4.264000e-05,-4.092689,-0.0128,0.0031,No
1,2,1,rs1474910,50192150,49463925,50591851,6.935200e-03,T,C,AGBL4,...,15,9.380000e-06,-4.430993,-0.0266,0.0060,1.192000e-04,3.847766,0.0177,0.0046,No
2,3,1,rs3101336,72751185,72512988,72959039,3.589741e-08,C,T,NEGR1,...,15,4.274000e-14,-7.552372,-0.0391,0.0052,2.661000e-26,-10.610577,-0.0334,0.0031,No
3,4,1,rs6680839,175902596,175902596,176416712,4.122523e-03,T,C,RP11-318C24.1,...,15,9.685000e-07,-4.897933,-0.0250,0.0051,2.095000e-04,3.707277,0.0152,0.0041,No
4,5,1,rs10489219,177326069,177309490,177428790,1.877427e-02,G,A,RP1-35C21.1,...,15,2.998000e-05,4.173618,0.0353,0.0085,1.126000e-03,3.256991,0.0180,0.0055,No

In [79]:
g1=pd.read_csv('../../../md_cvd_yunhan/fuma_output_fin1/FUMA_conj_bmi_snps_job139939/genes.txt',sep="\t")
trait1='DEP'
#trait2=filename.split('/')[-2].split('_')[2].upper()
trait2='BMI'
g2=g1.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
g3.to_excel(f'../../../md_cvd_yunhan/combined_tables/conjFDR_0.05_{trait1}_vs_{trait2}_GENEs.xlsx',index=False)

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-79-d863b709aafe>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")

In [82]:
filename='../../../md_cvd_yunhan/fuma_output_fun1/FUMA_conj_bmi_lead_gene2func63257/GS.txt'
go1=pd.read_csv(filename,sep="\t")
trait1='DEP'
trait2=filename.split('/')[-2].split('_')[2].upper()
go2=go1.loc[go1.Category.isin(['GO_bp','GO_cc','GO_mf'])]
go3=go2.iloc[:,[0,1,2,3,4,5,6]]
go3.to_excel(f'../../../md_cvd_yunhan/combined_tables/conjFDR_0.05_{trait1}_vs_{trait2}_GO.xlsx',index=False)

In [89]:
filename='../../../md_cvd_yunhan/fuma_output_fun1/FUMA_conj_bmi_lead_gene2func63257/GS.txt'
go1=pd.read_csv(filename,sep="\t")
trait1='DEP'
trait2=filename.split('/')[-2].split('_')[2].upper()
path1=go1.loc[go1.Category.isin(['KEGG','Wikipathways','BioCarta'])]
path2=path1.iloc[:,[0,1,2,3,4,5,6]]
path2.to_excel(f'../../../md_cvd_yunhan/combined_tables/conjFDR_0.05_{trait1}_vs_{trait2}_PATHWAY.xlsx',index=False)

In [91]:
path1.head()

Empty DataFrame
Columns: [Category, GeneSet, N_genes, N_overlap, p, adjP, genes, link]
Index: []

In [86]:
cd1=pd.read_csv('../../../md_cvd_yunhan/combined_tables/condFDR_0.01_BMI_vs_DEP.csv')
cd1.to_excel('../../../md_cvd_yunhan/combined_tables/condFDR_0.01_BMI_vs_DEP.xlsx',index=False)

In [87]:
cd1=pd.read_csv('../../../md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_BMI.csv')
cd1.to_excel('../../../md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_BMI.xlsx',index=False)

In [88]:
cd1=pd.read_csv('../../../md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_BMI_snps.csv')
cd1.to_excel('../../../md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_BMI_SNPS.xlsx',index=False)

In [95]:
os.getcwd()

'/home/ubuntu/body-brain/bmi/cond_fuma_combined'

In [106]:
w4 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_TRAIT1_vs_TRAIT2.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01*csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w4, sheet_name=f'{trait1}_{trait2}',index=False)
    w4.save()

In [124]:
t1='/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_bmi_snps_job139939/genes.txt'
t1.split('/')[-2].split('_')[2].upper()

'BMI'

In [24]:
w5 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TRAIT2_SNPs.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_*_snps.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w5, sheet_name=f'{trait1}_{trait2}',index=False)
    w5.save() 

w6 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_*_novelty.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w6, sheet_name=f'{trait1}_{trait2}',index=False)
    w6.save() 

w7 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_*.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w7, sheet_name=f'{trait1}_{trait2}',index=False)
    w7.save() 

w8 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_TRAIT2_vs_DEP_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_*_vs_DEP.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w8, sheet_name=f'{trait1}_{trait2}',index=False)
    w8.save()

In [2]:
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_*_snps_*/genes.txt'):
    print(filename)

/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_sbp_snps_job139952/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_t2d_snps_job139954/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_dbp_snps_job139945/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_crp_snps_job139943/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_ldl_snps_job139950/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_tc_snps_job139956/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_cad_snps_job139941/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_hdl_snps_job139947/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_bmi_snps_job139939/genes.txt
/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_tg_snps_job139958/genes.txt

In [6]:
w9 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TRAIT2_GENEs2.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/fuma_output_fin1/FUMA_conj_*_snps_*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='DEP'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
                ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w9, sheet_name=f'{trait1}_{trait2}',index=False)
    w9.save()

In [26]:
t='/home/ubuntu/md_cvd_yunhan/fuma_output_fun1/FUMA_dep_bmi_gene2func65821/GS.txt'
t.split('/')[-2].split('_')[2].upper()

'BMI'

In [27]:
w10 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TRAIT2_GO.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/fuma_output_fun1/FUMA_dep_*_gene2func*/GS.txt'):
    go1=pd.read_csv(filename,sep="\t")
    trait1='DEP'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    go2=go1.loc[go1.Category.isin(['GO_bp','GO_cc','GO_mf'])]
    go3=go2.iloc[:,[0,1,2,3,4,5,6]]
    go3.to_excel(w10, sheet_name=f'{trait1}_{trait2}',index=False)
    w10.save()

In [28]:
w11 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TRAIT2_PATH.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/fuma_output_fun1/FUMA_dep_*_gene2func*/GS.txt'):
    go1=pd.read_csv(filename,sep="\t")
    trait1='DEP'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    go2=go1.loc[go1.Category.isin(['KEGG','Wikipathways','BioCarta'])]
    go3=go2.iloc[:,[0,1,2,3,4,5,6]]
    go3.to_excel(w11, sheet_name=f'{trait1}_{trait2}',index=False)
    w11.save()

In [139]:
t1='/home/ubuntu/body-brain/bmi/fuma_result_fin1/FUMA_conj_scz_bmi_snps_job136702/genes.txt'
t1.split('/')[-2].split('_')[3]

'bmi'

In [7]:
for f in glob.glob('/home/ubuntu/body-brain/bmi/combined/*csv'):
    f1=pd.read_csv(f)
    f1.to_csv(f,sep='\t',index=False)

In [11]:
w12 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/conjFDR_0.05_SCZ_vs_TRAIT2_SNPs.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/combined/conjFDR_0.05_SCZ_vs_*_snps.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w12, sheet_name=f'{trait1}_{trait2}',index=False)
    w12.save()
    go1.ConcordEffect.value_counts()

In [5]:
w13 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/conjFDR_0.05_SCZ_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/combined/conjFDR_0.05_SCZ_vs_*_novelty.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w13, sheet_name=f'{trait1}_{trait2}',index=False)
    w13.save()

In [10]:
w14 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/condFDR_0.01_SCZ_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/combined/condFDR_0.01_SCZ_vs_*.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w14, sheet_name=f'{trait1}_{trait2}',index=False)
    w14.save()

In [11]:
w15 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/condFDR_0.01_TRAIT2_vs_SCZ_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/combined/condFDR_0.01_*_vs_SCZ.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w15, sheet_name=f'{trait1}_{trait2}',index=False)
    w15.save()

In [8]:
w16 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs2.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/fuma_result_fin1/FUMA_conj_scz_*_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[3].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    g3=g3
    g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
                ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w16, sheet_name=f'{trait1}_{trait2}',index=False)
    w16.save()

In [13]:
t1='/home/ubuntu/body-brain/bmi/fuma_result_fun1/FUMA_scz_tg_gene2func65841/GS.txt'
t1.split('/')[-2].split('_')[2].upper()

'TG'

In [14]:
w17 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GO.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/fuma_result_fun1/FUMA_scz_*_gene2func*/GS.txt'):
    go1=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    go2=go1.loc[go1.Category.isin(['GO_bp','GO_cc','GO_mf'])]
    go3=go2.iloc[:,[0,1,2,3,4,5,6]]
    go3.to_excel(w17, sheet_name=f'{trait1}_{trait2}',index=False)
    w17.save()

In [15]:
w18 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/conjFDR_0.05_SCZ_vs_TRAIT2_PATH.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/fuma_result_fun1/FUMA_scz_*_gene2func*/GS.txt'):
    go1=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    go2=go1.loc[go1.Category.isin(['KEGG','Wikipathways','BioCarta'])]
    go3=go2.iloc[:,[0,1,2,3,4,5,6]]
    go3.to_excel(w18, sheet_name=f'{trait1}_{trait2}',index=False)
    w18.save()

In [34]:
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_*_snps.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    print(f'{trait1}_{trait2}')
    print(go1.ConcordEffect.value_counts())

DEP_TG
Yes    1093
No       83
Name: ConcordEffect, dtype: int64
DEP_T2D
Yes    57
No     40
Name: ConcordEffect, dtype: int64
DEP_SBP
No     1192
Yes     169
Name: ConcordEffect, dtype: int64
DEP_LDL
Yes    325
No     146
Name: ConcordEffect, dtype: int64
DEP_CRP
Yes    232
No     108
Name: ConcordEffect, dtype: int64
DEP_CAD
Yes    53
No      2
Name: ConcordEffect, dtype: int64
DEP_DBP
No     870
Yes    839
Name: ConcordEffect, dtype: int64
DEP_HDL
No     251
Yes     97
Name: ConcordEffect, dtype: int64
DEP_TC
Yes    551
No     318
Name: ConcordEffect, dtype: int64
DEP_BMI
Yes    464
No     365
Name: ConcordEffect, dtype: int64

In [3]:
w13 = ExcelWriter('/home/ubuntu/body-brain/bmi/combined_tables/conjFDR_0.05_SCZ_vs_TRAIT2_only_unique_loci.xlsx')
for filename in glob.glob('/home/ubuntu/body-brain/bmi/combined/conjFDR_0.05_SCZ_vs_*_novelty.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go2=go1.loc[go1.is_locus_unique == 'Yes']
    go2.to_excel(w13, sheet_name=f'{trait1}_{trait2}',index=False)
    w13.save()

In [7]:
fam1=pd.read_csv('/home/ubuntu/imputation/for_topmed/all_batches_merged2.fam',header=None,sep=' ')
fam1.head()

   0                   1  2  3  4  5
0  0  1206_hubin_id00000  0  0  0 -9
1  0  1206_hubin_id00001  0  0  0 -9
2  0  1206_hubin_id00003  0  0  0 -9
3  0  1206_hubin_id00004  0  0  0 -9
4  0  1206_hubin_id00005  0  0  0 -9

In [9]:
plate1=fam1.iloc[:,1].str.split('_',expand=True)
plate1.head()

      0      1        2
0  1206  hubin  id00000
1  1206  hubin  id00001
2  1206  hubin  id00003
3  1206  hubin  id00004
4  1206  hubin  id00005

In [15]:
myarr =['A','B','C','D','E','F','G','H']*int(len(fam1)/8)
print(len(myarr),len(fam1))

28400 28403

In [18]:
myarr2=['1','2','3','4','5','6','7','8','9','10','11','12']*int(len(fam1)/12)
print(len(myarr),len(fam1),len(myarr2))

28400 28403 28392

In [22]:
myarr3 = [i + j for i, j in zip(myarr, myarr2)]

In [30]:
myarr4=pd.Series(myarr3)

In [31]:
fam1['Well'] = myarr4

In [32]:
fam1.head()

   0                   1  2  3  4  5 Well
0  0  1206_hubin_id00000  0  0  0 -9   A1
1  0  1206_hubin_id00001  0  0  0 -9   B2
2  0  1206_hubin_id00003  0  0  0 -9   C3
3  0  1206_hubin_id00004  0  0  0 -9   D4
4  0  1206_hubin_id00005  0  0  0 -9   E5

In [37]:
fam2=pd.concat([pd.DataFrame(fam1.iloc[:,1]),pd.DataFrame(fam1['Well']),pd.DataFrame(plate1.iloc[:,1])],axis=1)
fam2.head()

                    1 Well      1
0  1206_hubin_id00000   A1  hubin
1  1206_hubin_id00001   B2  hubin
2  1206_hubin_id00003   C3  hubin
3  1206_hubin_id00004   D4  hubin
4  1206_hubin_id00005   E5  hubin

In [40]:
fam2.columns=['ID','Well','Plate']
fam2.head()

                   ID Well  Plate
0  1206_hubin_id00000   A1  hubin
1  1206_hubin_id00001   B2  hubin
2  1206_hubin_id00003   C3  hubin
3  1206_hubin_id00004   D4  hubin
4  1206_hubin_id00005   E5  hubin

In [41]:
fam2.to_csv('/home/ubuntu/imputation/for_topmed/dlb-plates.csv',index=False)

In [3]:
conj1=pd.read_csv('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_BMI_novelty.csv')
#conj1.head()
cond1=pd.read_csv('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_BMI.csv')
#cond1.head()
cond11=pd.read_csv('/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_BMI_vs_DEP.csv')
cond11.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,minChrState,commonChrState,PVAL_in_BMI,Z_in_BMI,BETA_in_BMI,SE_in_BMI,PVAL_in_DEP,Z_in_DEP,BETA_in_DEP,SE_in_DEP
0,1,1,rs9660180,1723031,1663452,1879084,0.000172,A,G,GNB1,...,4,4,8.071000e-07,4.933643,0.0171,0.0035,0.107200,1.610907,0.0081,0.0050
1,2,1,rs7535528,2444414,2427712,2754512,0.004582,G,A,PANK4,...,4,4,3.195000e-05,-4.159103,-0.0183,0.0044,0.048610,1.971997,0.0105,0.0053
2,3,1,rs10864361,8726721,8481016,8895448,0.000735,C,T,RERE,...,2,7,3.665000e-05,-4.127643,-0.0129,0.0031,0.000002,4.755761,0.0244,0.0051
3,4,1,rs10779751,11284336,11111976,11372913,0.004202,G,A,MTOR,...,4,5,8.537000e-06,4.451255,0.0151,0.0034,0.921200,0.098922,0.0006,0.0056
4,5,1,rs4655145,23404671,23285856,23425973,0.004650,G,A,KDM1A:RP1-184J9.2,...,4,4,5.002000e-05,4.055534,0.0219,0.0054,0.016350,2.401008,0.0170,0.0071

In [4]:
min1=conj1.MinBP.to_numpy()
max1=conj1.MaxBP.to_numpy()
c1=conj1.CHR.to_numpy()
min12=cond1.MinBP.to_numpy()[:,None]
max12=cond1.MaxBP.to_numpy()[:,None]
c12=cond1.CHR.to_numpy()[:,None]
min21=cond11.MinBP.to_numpy()[:,None]
max21=cond11.MaxBP.to_numpy()[:,None]
c21=cond11.CHR.to_numpy()[:,None]

In [10]:
result1=(((c1==c12) & (min1>=min12) & (min1>=max12)) | ((c1==c12) & (max1>=min12) & (max1<=max12)) |
         ((c1==c12) & (min1<=min12) & (max1>=max12)))

In [14]:
result1.shape

(49, 43)

In [15]:
min1.shape

(43,)

In [16]:
min12.shape

(49, 1)

In [17]:
min21.shape

(309, 1)

In [21]:
result1.any(axis=0).shape

(43,)

In [8]:
c1==c12

array([[ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       ...,
       [False, False, False, ...,  True, False, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False, False,  True]])

In [7]:
min1<min12

array([[False, False, False, ..., False, False, False],
       [ True, False, False, ..., False,  True,  True],
       [ True,  True, False, ...,  True,  True,  True],
       ...,
       [ True,  True, False, ...,  True,  True,  True],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False,  True, False]])

In [11]:
result2=((c1==c21) & (min1>=min21) & (min1>=max21) | (c1==c21) & (max1>=min21) & (max1<=max21) |
         (c1==c21) & (min1<=min21) & (max1>=max21))

In [18]:
tr1='/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_BMI.csv'
tr2=tr1.split('/')[-1].split('_')[-1].split('.')[0]

In [19]:
conj1[f'Overlapping_with_condFDR_DEP|{tr2}']=np.where(result1.any(axis=0), 'Yes', 'No')

In [20]:
conj1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,SE_in_BMI,A1_in_DEP,A1_in_BMI,Z_recalculated_in_DEP,Z_recalculated_in_BMI,ConcordEffect,Novel_in_DEP,is_locus_unique,Overlapping_with_condFDR_DEP|{tr2},Overlapping_with_condFDR_DEP|BMI
0,1,1,rs10864360,8724522,8457648,8895448,2.327713e-03,T,C,RERE,...,0.0031,T,C,-4.760097,4.092689,No,No,No,No,No
1,2,1,rs1474910,50192150,49463925,50591851,6.935200e-03,T,C,AGBL4,...,0.0046,T,C,-4.430993,-3.847766,Yes,No,Yes,Yes,Yes
2,3,1,rs3101336,72751185,72512988,72959039,3.589741e-08,C,T,NEGR1,...,0.0031,T,T,7.552372,10.610577,Yes,No,No,Yes,Yes
3,4,1,rs6680839,175902596,175902596,176416712,4.122523e-03,T,C,RP11-318C24.1,...,0.0041,T,C,-4.897933,-3.707277,Yes,No,Yes,Yes,Yes
4,5,1,rs10489219,177326069,177309490,177428790,1.877427e-02,G,A,RP1-35C21.1,...,0.0055,A,A,-4.173618,-3.256991,Yes,No,Yes,Yes,Yes

In [21]:
conj1[f'Overlapping_with_condFDR_{tr2}|DEP']=np.where(result2.any(axis=0), 'Yes', 'No')
conj1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,A1,A2,nearestGene,...,A1_in_DEP,A1_in_BMI,Z_recalculated_in_DEP,Z_recalculated_in_BMI,ConcordEffect,Novel_in_DEP,is_locus_unique,Overlapping_with_condFDR_DEP|{tr2},Overlapping_with_condFDR_DEP|BMI,Overlapping_with_condFDR_BMI|DEP
0,1,1,rs10864360,8724522,8457648,8895448,2.327713e-03,T,C,RERE,...,T,C,-4.760097,4.092689,No,No,No,No,No,Yes
1,2,1,rs1474910,50192150,49463925,50591851,6.935200e-03,T,C,AGBL4,...,T,C,-4.430993,-3.847766,Yes,No,Yes,Yes,Yes,Yes
2,3,1,rs3101336,72751185,72512988,72959039,3.589741e-08,C,T,NEGR1,...,T,T,7.552372,10.610577,Yes,No,No,Yes,Yes,Yes
3,4,1,rs6680839,175902596,175902596,176416712,4.122523e-03,T,C,RP11-318C24.1,...,T,C,-4.897933,-3.707277,Yes,No,Yes,Yes,Yes,Yes
4,5,1,rs10489219,177326069,177309490,177428790,1.877427e-02,G,A,RP1-35C21.1,...,A,A,-4.173618,-3.256991,Yes,No,Yes,Yes,Yes,Yes

In [22]:
conj1[f'Overlapping_with_condFDR_{tr2}|DEP'].value_counts()

Yes    42
No      1
Name: Overlapping_with_condFDR_BMI|DEP, dtype: int64

In [24]:
conj1[f'Overlapping_with_condFDR_DEP|{tr2}'].value_counts()

Yes    36
No      7
Name: Overlapping_with_condFDR_DEP|BMI, dtype: int64

In [25]:
def overlapping_loci(conj,cond,cond2):
    
    #Read the inputs as dataframe
    conj1=pd.read_csv(conj)
    cond1=pd.read_csv(cond)
    cond11=pd.read_csv(cond2)
    
    #Convert the related columns into numpy array
    min1=conj1.MinBP.to_numpy()
    max1=conj1.MaxBP.to_numpy()
    c1=conj1.CHR.to_numpy()
    min12=cond1.MinBP.to_numpy()[:,None]
    max12=cond1.MaxBP.to_numpy()[:,None]
    c12=cond1.CHR.to_numpy()[:,None]
    min21=cond11.MinBP.to_numpy()[:,None]
    max21=cond11.MaxBP.to_numpy()[:,None]
    c21=cond11.CHR.to_numpy()[:,None]
    
    #Define the conditions of overlaps
    result1=(((c1==c12) & (min1>=min12) & (min1<=max12)) | ((c1==c12) & (max1>=min12) & (max1<=max12)) |
         ((c1==c12) & (min1<=min12) & (max1>=max12)))
    result2=(((c1==c21) & (min1>=min21) & (min1<=max21)) | ((c1==c21) & (max1>=min21) & (max1<=max21)) |
         ((c1==c21) & (min1<=min21) & (max1>=max21)))
    
    #Trait name
    tr2=cond.split('/')[-1].split('_')[-1].split('.')[0]
    
    #Populate new columns with above conditions
    conj1[f'Overlapping_with_condFDR_DEP|{tr2}']=np.where(result1.any(axis=0), 'Yes', 'No')
    conj1[f'Overlapping_with_condFDR_{tr2}|DEP']=np.where(result2.any(axis=0), 'Yes', 'No')
    
    #Write results and get outputs
    conj1.to_csv(f'/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_{tr2}_novelty_with_overlaps.csv',index=False)
    
    return conj1[f'Overlapping_with_condFDR_DEP|{tr2}'].value_counts(),conj1[f'Overlapping_with_condFDR_{tr2}|DEP'].value_counts()

In [41]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_BMI_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_BMI.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_BMI_vs_DEP.csv')

(Yes    25
 No     18
 Name: Overlapping_with_condFDR_DEP|BMI, dtype: int64,
 Yes    27
 No     16
 Name: Overlapping_with_condFDR_BMI|DEP, dtype: int64)

In [27]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_CAD_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_CAD.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_CAD_vs_DEP.csv')

(Yes    4
 No     2
 Name: Overlapping_with_condFDR_DEP|CAD, dtype: int64,
 Yes    3
 No     3
 Name: Overlapping_with_condFDR_CAD|DEP, dtype: int64)

In [28]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_CRP_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_CRP.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_CRP_vs_DEP.csv')

(No     5
 Yes    3
 Name: Overlapping_with_condFDR_DEP|CRP, dtype: int64,
 Yes    4
 No     4
 Name: Overlapping_with_condFDR_CRP|DEP, dtype: int64)

In [29]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_DBP_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_DBP.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DBP_vs_DEP.csv')

(Yes    16
 No     15
 Name: Overlapping_with_condFDR_DEP|DBP, dtype: int64,
 Yes    18
 No     13
 Name: Overlapping_with_condFDR_DBP|DEP, dtype: int64)

In [30]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_HDL_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_HDL.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_HDL_vs_DEP.csv')

(No     8
 Yes    6
 Name: Overlapping_with_condFDR_DEP|HDL, dtype: int64,
 Yes    9
 No     5
 Name: Overlapping_with_condFDR_HDL|DEP, dtype: int64)

In [31]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_LDL_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_LDL.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_LDL_vs_DEP.csv')

(Yes    9
 No     1
 Name: Overlapping_with_condFDR_DEP|LDL, dtype: int64,
 No     5
 Yes    5
 Name: Overlapping_with_condFDR_LDL|DEP, dtype: int64)

In [32]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_SBP_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_SBP.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_SBP_vs_DEP.csv')

(No     21
 Yes    17
 Name: Overlapping_with_condFDR_DEP|SBP, dtype: int64,
 Yes    26
 No     12
 Name: Overlapping_with_condFDR_SBP|DEP, dtype: int64)

In [33]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_T2D_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_T2D.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_T2D_vs_DEP.csv')

(No     5
 Yes    4
 Name: Overlapping_with_condFDR_DEP|T2D, dtype: int64,
 No     6
 Yes    3
 Name: Overlapping_with_condFDR_T2D|DEP, dtype: int64)

In [34]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TC_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_TC.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_TC_vs_DEP.csv')

(Yes    9
 No     2
 Name: Overlapping_with_condFDR_DEP|TC, dtype: int64,
 Yes    8
 No     3
 Name: Overlapping_with_condFDR_TC|DEP, dtype: int64)

In [35]:
overlapping_loci('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TG_novelty.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_DEP_vs_TG.csv',
                '/home/ubuntu/md_cvd_yunhan/combined_tables/condFDR_0.01_TG_vs_DEP.csv')

(No     8
 Yes    6
 Name: Overlapping_with_condFDR_DEP|TG, dtype: int64,
 Yes    13
 No      1
 Name: Overlapping_with_condFDR_TG|DEP, dtype: int64)

In [38]:
tr2='/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_BMI_novelty_with_overlaps.csv'
tr2.split('/')[-1].split('_')[4]

'BMI'

In [40]:
w14 = ExcelWriter('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_TRAIT2_novelty_with_overlap.xlsx')
for filename in glob.glob('/home/ubuntu/md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_*_novelty_with_overlaps.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('_')[2].upper()
    trait2=filename.split('/')[-1].split('_')[4].upper()
    #go2=go1.loc[go1.is_locus_unique == 'Yes']
    go1.to_excel(w14, sheet_name=f'{trait1}_{trait2}',index=False)
    w14.save()

In [43]:
car1=pd.read_csv('/home/ubuntu/md_cvd_yunhan/pleiofdr_mdd/PGC_MDD_2018_with23andMe_noUKBB_vs_CARDIOGRAM_CAD_2017_UKB_conjfdr/conj.result.clump.lead.csv',sep='\t')
car1.head()

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,is_locus_lead
0,1,1,rs10890013,73639751,73282691,73758117,0.003334,True
1,2,6,rs9266242,31325620,31252396,31346898,0.003529,True
2,3,10,rs7073340,76402277,75867193,76421529,0.027694,True
3,4,11,rs174541,61565908,61542006,61624181,0.041173,True
4,5,12,rs2004910,121374727,121189116,121378566,0.009746,True

In [51]:
car2=car1.loc[car1.is_locus_lead==True]
car2

,locusnum,CHR,LEAD_SNP,LEAD_BP,MinBP,MaxBP,FDR,is_locus_lead
0,1,1,rs10890013,73639751,73282691,73758117,0.003334,True
1,2,6,rs9266242,31325620,31252396,31346898,0.003529,True
2,3,10,rs7073340,76402277,75867193,76421529,0.027694,True
3,4,11,rs174541,61565908,61542006,61624181,0.041173,True
4,5,12,rs2004910,121374727,121189116,121378566,0.009746,True
5,6,14,rs59618196,42297825,42213816,42319865,0.021259,True

In [54]:
car3=car2.iloc[:,[2,2]]
car3

     LEAD_SNP    LEAD_SNP
0  rs10890013  rs10890013
1   rs9266242   rs9266242
2   rs7073340   rs7073340
3    rs174541    rs174541
4   rs2004910   rs2004910
5  rs59618196  rs59618196

In [56]:
cl1='/home/ubuntu/md_cvd_yunhan/pleiofdr_mdd/PGC_MDD_2018_with23andMe_noUKBB_vs_CARDIOGRAM_CAD_2017_UKB_conjfdr/conj.result.clump.lead.csv'
cl1.split('/')[-2].split('_')[7]

'CAD'

In [7]:
def snplist(clump):
    car1=pd.read_csv(clump,sep='\t')
    car2=car1.loc[car1.is_locus_lead==True]
    car3=car2.iloc[:,[2,2]]
    cl1=clump.split('/')[-2].split('_')[7]
    car3.to_csv(f'/home/ubuntu/md_cvd_yunhan/md_cvd_from_saga/DEP_{cl1}_lead_snp_annot.csv',index=False,header=None,sep='\t')

In [9]:
snplist('/home/ubuntu/md_cvd_yunhan/md_cvd_from_saga/md_cvd/PGC_MD_2018_with23andMe_noUKBB_vs_CARDIOGRAM_CAD_2017_UKB_conjfdr/conj.result.clump.lead.csv')

In [12]:
snplist('/home/ubuntu/md_cvd_yunhan/md_cvd_from_saga/md_cvd/PGC_MD_2018_with23andMe_noUKBB_vs_MVP_LDL_2018_LDL_EUR_conjfdr/conj.result.clump.lead.csv')

In [13]:
snplist('/home/ubuntu/md_cvd_yunhan/md_cvd_from_saga/md_cvd/PGC_MD_2018_with23andMe_noUKBB_vs_UKB_SBP_2018_SBP_withICBP_conjfdr/conj.result.clump.lead.csv')

In [4]:
cr1=pd.read_csv('../md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_CAD_novelty.csv')
cr2=cr1.iloc[:,[2,9]]
cr2.to_csv('../md_cvd_yunhan/pleiofdr_mdd/DEP_CAD_lead_gene_annot.csv',header=None,index=False,sep='\t')

In [5]:
cr1=pd.read_csv('../md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_SBP_novelty.csv')
cr2=cr1.iloc[:,[2,9]]
cr2.to_csv('../md_cvd_yunhan/pleiofdr_mdd/DEP_SBP_lead_gene_annot.csv',header=None,index=False,sep='\t')

In [6]:
cr1=pd.read_csv('../md_cvd_yunhan/combined_tables/conjFDR_0.05_DEP_vs_LDL_novelty.csv')
cr2=cr1.iloc[:,[2,9]]
cr2.to_csv('../md_cvd_yunhan/pleiofdr_mdd/DEP_LDL_lead_gene_annot.csv',header=None,index=False,sep='\t')

In [14]:
w15 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_SNPs.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_*_snps.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w15, sheet_name=f'{trait1}_{trait2}',index=False)
    w15.save() 

w17 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/condFDR_0.01_SCZ_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/condFDR_0.01_SCZ_vs_*.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w17, sheet_name=f'{trait1}_{trait2}',index=False)
    w17.save() 

w18 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/condFDR_0.01_TRAIT2_vs_SCZ_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/condFDR_0.01_*_vs_SCZ.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w18, sheet_name=f'{trait1}_{trait2}',index=False)
    w18.save()

In [15]:
w16 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_*_novelty.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w16, sheet_name=f'{trait1}_{trait2}',index=False)
    w16.save()

In [17]:
tr1='/home/ubuntu/immunesystem_md/from_fuma/new/FUMA_scz_basophil_conj_snps_job159309/genes.txt'

In [19]:
tr1.split('/')[-2].split('_')[2]

'basophil'

In [20]:
w19 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs2.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_fuma/new/FUMA_scz_*_conj_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
                ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w19, sheet_name=f'{trait1}_{trait2}',index=False)
    w19.save()  
    
    
w20 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_fuma/new/FUMA_scz_*_conj_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    #g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
     #           ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w20, sheet_name=f'{trait1}_{trait2}',index=False)
    w20.save()

In [2]:
w21 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/conjFDR_0.05_SCZ_vs_TRAIT2_SNPs.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/conjFDR_0.05_SCZ_vs_*_snps.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w21, sheet_name=f'{trait1}_{trait2}',index=False)
    w21.save() 

w22 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/condFDR_0.01_SCZ_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/condFDR_0.01_SCZ_vs_*.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w22, sheet_name=f'{trait1}_{trait2}',index=False)
    w22.save() 

w23 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/condFDR_0.01_TRAIT2_vs_SCZ_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/condFDR_0.01_*_vs_SCZ.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w23, sheet_name=f'{trait1}_{trait2}',index=False)
    w23.save()

w24 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/conjFDR_0.05_SCZ_vs_TRAIT2_LOCI.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/conjFDR_0.05_SCZ_vs_*_novelty.csv'):
    go1=pd.read_csv(filename)
    trait1=filename.split('/')[-1].split('.')[1].split('_')[1].upper()
    trait2=filename.split('/')[-1].split('.')[1].split('_')[3].upper()
    go1.to_excel(w24, sheet_name=f'{trait1}_{trait2}',index=False)
    w24.save() 

w25 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables_new/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs2.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_fuma/new2/FUMA_scz_*_conj_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
                ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w25, sheet_name=f'{trait1}_{trait2}',index=False)
    w25.save()  
    
    
w26 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_fuma/new2/FUMA_scz_*_conj_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    #g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
     #           ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w26, sheet_name=f'{trait1}_{trait2}',index=False)
    w26.save()   

w27 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs_excluded.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_fuma/new2/FUMA_scz_*_conj_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    g3=g3.loc[(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
                ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w27, sheet_name=f'{trait1}_{trait2}',index=False)
    w27.save()

NameError: name 'w20' is not defined

In [3]:
w26 = ExcelWriter('/home/ubuntu/immunesystem_md/from_nadine/fuma_fdr_tables/conjFDR_0.05_SCZ_vs_TRAIT2_GENEs.xlsx')
for filename in glob.glob('/home/ubuntu/immunesystem_md/from_fuma/new2/FUMA_scz_*_conj_snp*/genes.txt'):
    g2=pd.read_csv(filename,sep="\t")
    trait1='SCZ'
    trait2=filename.split('/')[-2].split('_')[2].upper()
    g2=g2.iloc[:,[0,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22]]
    g2.rename(columns={'ensg':'Ensembl ID','symbol':'Gene','chr':'Chr','start':'Start bp','end':'End bp',
                   'strand':'Strand','type':'Type','entrezID':'EntrezID'}, inplace=True)
    g2['posMap'] = np.where(g2[['posMapSNPs']]>0, "Yes", "No")
    g2['eqtlMap'] = np.where(g2[['eqtlMapSNPs']]>0, "Yes", "No")
    g2['Credible']=np.where(((g2.posMap =='Yes') & (g2.eqtlMap =='Yes') & (g2.ciMap=='Yes')), 'Yes', 'No')
    g3=g2.iloc[:,[0,1,2,3,4,5,6,7,8,21,9,10,22,11,12,13,14,16,17,19,20,23]]
    #g3=g3.loc[~(((g3['Chr'] == 6) & (g3['Start bp'] > 25119106) & (g3['End bp'] < 33854733)) | 
     #           ((g3['Chr'] == 8) & (g3['Start bp'] > 7200000) & (g3['End bp'] < 12500000))),:]
    g3.to_excel(w26, sheet_name=f'{trait1}_{trait2}',index=False)
    w26.save()

In [9]:
l1=pd.read_csv('from_nadine/fuma_fdr_tables_new/condFDR_0.01_SCZ_vs_trait2_all_loci.csv',sep='\t',header=None,dtype=str)
l1.to_csv('from_nadine/fuma_fdr_tables_new/condFDR_0.01_SCZ_vs_trait2_all_loci.csv',sep='\t',index=False,header=None)

In [4]:
os.getcwd()

'/home/ubuntu/immunesystem_md'